deprecated
html
  head
    title= title
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.min.js")
    link(href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet")
  body
    h1= message
    p Welcome! (
     a(href='') logout
     span )
     div(id="container")
      p Melissa Iori 2018